# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

#.env file
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.idea/
.vscode/

# Data
/data/processed_data.jsonl
/models/

# Hugging Face
/commit-suggestor-model/